<b>Importing libraries and scraping wikipedia for postalcode table<b>

In [7]:
import requests 
from bs4 import BeautifulSoup 
import pandas as pd

In [8]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
resp=requests.get(url) 
column_names = ['Postalcode','Borough','Neighborhood']

#http_respone 200 means OK status 
if resp.status_code==200: 
    print("Successfully opened the web page") 
    
    # we need a parser,Python built-in HTML parser is enough . 
    soup=BeautifulSoup(resp.text,'html.parser')     
  
    # table is the list which contains all the text 
    table=soup.find("table",{"class":"wikitable sortable"}) 

else: 
    print("Error")

Successfully opened the web page

<b>Create dataframe based in the scrape table, removing records with Borough that are "Not assigned" and assigning Borough value to neighbourhood that are "Not assigned".<b>

In [9]:
df_table = pd.read_html(str(table))
df_table = df_table[0].dropna(axis=0)
df_table.columns = column_names
df_table.drop(df_table.loc[df_table['Borough']=='Not assigned'].index, inplace=True)
i = 0
for i in range(0,df_table.shape[0]):
    if df_table.iloc[i][2] == 'Not assigned':
        df_table.iloc[i][2] = df_table.iloc[i][1]
        i = i+1
df_table.reset_index(drop=True,inplace=True)


<b>Combine rows with common postal code and separating by comma<b>

In [10]:
df_table = df_table.groupby(['Postalcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
df_table

    Postalcode      Borough                                       Neighborhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101        M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102        M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]


<b>Show final results<b>

In [11]:
df_table.shape

(103, 3)

<b> Working with the given coordinates <b>

In [21]:
df_coord = pd.read_csv('C:/Users/RohitSingh/Desktop/DATA_SCIENCE/Geospatial_Coordinates.csv')
df_coord

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

<b> Import the datasets with the coordinates and then merge with the dataframe <b>

In [19]:
df_total = df_table.merge(df_coord, how='inner', left_on='Postalcode', right_on='Postal Code')

In [20]:
df_total.drop(['Postal Code'], axis=1, inplace=True)
df_total

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054

<b>Define the Dataframe <b>

In [150]:
df=df_total
df

total_rows=len(df.axes[0])
total_cols=len(df.axes[1])

print("Number of Rows: "+str(total_rows))
print("Number of Columns: "+str(total_cols))

df

Number of Rows: 103
Number of Columns: 5

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054

In [56]:
!pip install folium
import folium

Requirement already satisfied: folium in c:\users\rohitsingh\anaconda_new\lib\site-packages (0.11.0)
Requirement already satisfied: jinja2>=2.9 in c:\users\rohitsingh\anaconda_new\lib\site-packages (from folium) (2.10.3)
Requirement already satisfied: numpy in c:\users\rohitsingh\anaconda_new\lib\site-packages (from folium) (1.16.5)
Requirement already satisfied: requests in c:\users\rohitsingh\anaconda_new\lib\site-packages (from folium) (2.22.0)
Requirement already satisfied: branca>=0.3.0 in c:\users\rohitsingh\anaconda_new\lib\site-packages (from folium) (0.4.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\rohitsingh\anaconda_new\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rohitsingh\anaconda_new\lib\site-packages (from requests->folium) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\rohitsingh\anaconda_new\lib\site-packages (from requests->folium) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\rohitsingh\anaconda_new\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\rohitsingh\anaconda_new\lib\site-packages (from requests->folium) (1.24.2)

In [36]:
pip install geopy

Requirement already satisfied: geopy in c:\users\rohitsingh\anaconda_new\lib\site-packages (1.22.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\rohitsingh\anaconda_new\lib\site-packages (from geopy) (1.50)
Note: you may need to restart the kernel to use updated packages.

In [49]:
from geopy.geocoders import Nominatim
address = 'Toronto'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Toronto are 43.6534817, -79.3839347.

In [151]:
# create map of Toronto using latitude and longitude values
map_toronto = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, borough, neighborhood in zip(neighborhoods['Latitude'], neighborhoods['Longitude'], neighborhoods['Borough'], neighborhoods['Neighborhood']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto)  
    
map_toronto

In [61]:
CLIENT_ID = 'AD112G5O41QUEUW12AKUPUE2OXGOENVBLHC4SNMFTGRI4QCF' # your Foursquare ID
CLIENT_SECRET = '2OX50IE3F1T3HCGC0JDEWWOW2KNYC5VZ2UQHQZHK4OHMXHJC' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: AD112G5O41QUEUW12AKUPUE2OXGOENVBLHC4SNMFTGRI4QCF
CLIENT_SECRET:2OX50IE3F1T3HCGC0JDEWWOW2KNYC5VZ2UQHQZHK4OHMXHJC

In [139]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

Empty DataFrame
Columns: [Postalcode, Borough, Neighborhood, Latitude, Longitude]
Index: []

KeyError: 0